TD {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px
}
BODY {
	FONT-SIZE: 12px;
FONT-FAMILY: ו;
margin-top: 0px;
margin-right: 0px;
margin-left: 0px;
margin-bottom:0px;
background-color: #EAF3FA;
 SCROLLBAR-FACE-COLOR: #91C0E9; 
SCROLLBAR-HIGHLIGHT-COLOR: #E2E9F6; 
SCROLLBAR-SHADOW-COLOR: #294A7A; 
SCROLLBAR-3DLIGHT-COLOR: #5B68B1; 
SCROLLBAR-ARROW-COLOR: #294A7A; 
SCROLLBAR-TRACK-COLOR: #E2E9F6; 
SCROLLBAR-DARKSHADOW-COLOR: #ffffff; 
}
A:link {
	COLOR: #082d71; TEXT-DECORATION: none
}
A:active {
	COLOR: #082d71; TEXT-DECORATION: none
}
A:visited {
	COLOR: #082d71; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
.functionTitle {
	font-size: 12px;color: #ffffff
}
.queryConTable {
	background-color: #9EC8FF; font-size: 12px;
	margin-top:5px;
}
TD.masterDetailLabel {
	background-color: #EDEDEC;margin-left:5px;margin-right:5px
}
TD.masterDetailData {
	background-color: #EDEDEC;margin-left:5px;margin-right:5px
}
TD.ellipsisNowrapText {
 overflow:hidden;
 text-overflow:ellipsis;
 white-space:nowrap;
 vertical-align:bottom;

 padding-bottom: -5px;
}
TR.singleDetailRow {
	vertical-align:bottom;
  padding-top: 2px;
}
TD.singleDetailLabel {
	background-color: #DBEAFB;
  padding-left:2px;
}
TD.singleDetailExplain {
	background-color: #EDEDEC;
  padding-left:2px;
  BORDER-BOTTOM: #999999 0px solid;
}
TD.singleDetailData {
	background-color: #ECF5FF;
  WORD-WRAP: break-word;
}
LABEL {
	margin-left:2px;
 margin-right:2px
}
.singleDetailTable {
	background-color: #9EC8FF;
 font-size: 12px;
}
.listTable {
	background-color: #9EC8FF; font-size: 12px;
}
TR.listTableTitle {
	 background-color: #92C0E9;color:#000000
}
TR.listTableOdd {
	background-color: #FFFFFF;
  LINE-HEIGHT: 22px;

  vertical-align:bottom;
}
TR.listTableEven {
	background-color: #ECF5FF;
  LINE-HEIGHT: 22px

  vertical-align:bottom;
}
TR.listTableDisable {
	 background-color: #E1E1A1;LINE-HEIGHT: 20px
}
LABEL.listTableDisableLabel {
	color: #E1E1A1;LINE-HEIGHT: 20px
}
.pageTable {
	background-color: #9EC8FF; font-size: 12px;
}
.pageTR {
	background-color: #ECF5FF;
}
.queryConBigTable {
	border-color: #3091D2 #3091D2 #3091D2 #3091D2;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
	background-color: #DBE7F9;
}
.pageSec2 {
	CURSOR: hand
}
LABEL.Normal {
	color:#000000;
}
LABEL.Required {
	color:#082C73;
}
SELECT {
	BACKGROUND-COLOR: #ffffff;
	FONT-SIZE: 12px;
	width:140px
}
.LongSelect {
	BACKGROUND-COLOR: #ffffff;
	width:200px
}
.NormalSelect {
	BACKGROUND-COLOR: #ffffff;
	width:140px
}
.ShortSelect {
	BACKGROUND-COLOR: #ffffff;
	width:85px
}
.readOnlyLongSelect {
	 width:200px;
	 background-color:#efefef;
}
.readOnlyNormalSelect {
	width:140px;
	 background-color:#efefef;
}
.readOnlyShortSelect {
	 width:85px;
	 background-color:#efefef;
}
.listTableEdit {
BORDER-BOTTOM: #999999 0px solid;
     BORDER-LEFT: #999999 0px solid;
     BORDER-RIGHT: #999999 0px solid;
     BORDER-TOP: #999999 0px solid;
     FONT-SIZE: 12px;
 	background-color:#EDEDEC;
 	width:50%;}
.editTextLine {
	 BORDER-BOTTOM: #999999 1px solid;
    BORDER-LEFT: #999999 1px solid;
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    FONT-SIZE: 9pt;
  	background:#ffffff;
	width:140px;

    margin-bottom:-1px;
}
.windowEditTextLine {
	 BORDER-BOTTOM: #999999 0px solid;
    BORDER-LEFT: #999999 0px solid;
    BORDER-RIGHT: #999999 0px solid;
    BORDER-TOP: #999999 0px solid;
    FONT-SIZE: 9pt;
  	background:#ffffff;
	width:140px;

    margin-bottom:-1px;
}
.editTextLineForLookupTree {
BORDER-BOTTOM: #999999 1px solid;
    BORDER-LEFT: #999999 1px solid;
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    FONT-SIZE: 9pt;
  	background:#ffffff;
  	width:100px;
    margin-bottom:-1px;}
.editTextLineLong {
 BORDER-BOTTOM: #999999 1px solid;
    BORDER-LEFT: #999999 1px solid;
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    FONT-SIZE: 9pt;
  	background:#ffffff;

	margin-bottom:-1px;}
.currencyText {
 BORDER-BOTTOM: #999999 1px solid;
    BORDER-LEFT: #999999 1px solid;
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    FONT-SIZE: 9pt;
  	background:#ffffff;
    TEXT-ALIGN:RIGHT;
	width:80px;
}
.readOnlyText {
	BORDER-BOTTOM: #999999 1px solid;
    BORDER-LEFT: #999999 1px solid;
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    FONT-SIZE: 9pt;
  	background:#efefef;
	width:140px;

	margin-bottom:-1px;
}
.readOnlyTextLong {
BORDER-BOTTOM: #999999 1px solid;
    BORDER-LEFT: #999999 1px solid;
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    FONT-SIZE: 9pt;
  	background:#efefef;
	margin-bottom:-1px;
}
.readOnlyCurrencyText {
 BORDER-BOTTOM: #999999 1px solid;
    BORDER-LEFT: #999999 1px solid;
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    FONT-SIZE: 9pt;
  	background:#efefef;
	width:80px;
   margin-bottom:-1px;
}
.displayOnlyText {
  BORDER-BOTTOM: #4a3163 0px solid;
    BORDER-LEFT: #4a3163 0px solid;
    BORDER-RIGHT: #4a3163 0px solid;
    BORDER-TOP: #4a3163 0px solid;
    FONT-SIZE: 9pt;
  	background:transparent;
	width:140px;
}
.displayOnlyTextForCalender {
BORDER-BOTTOM: #4a3163 0px solid;
    BORDER-LEFT: #4a3163 0px solid;
    BORDER-RIGHT: #4a3163 0px solid;
    BORDER-TOP: #4a3163 0px solid;
    FONT-SIZE: 9pt;
  	background:transparent;
	width:140px;}
.displayOnlyTextLong {
BORDER-BOTTOM: #4a3163 0px solid;
    BORDER-LEFT: #4a3163 0px solid;
    BORDER-RIGHT: #4a3163 0px solid;
    BORDER-TOP: #4a3163 0px solid;
    FONT-SIZE: 9pt;
  	background:transparent;
	width:400px;
}
.displayCurrencyText {
    BORDER-BOTTOM: #4a3163 0px solid;
    BORDER-LEFT: #4a3163 0px solid;
    BORDER-RIGHT: #4a3163 0px solid;
    BORDER-TOP: #4a3163 0px solid;
    FONT-SIZE: 9pt;
  	background:transparent;
	width:80px;
}
.editTextNoBorder {
	BORDER-BOTTOM: #999999 1px solid;
    BORDER-LEFT: #999999 1px solid;
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
	width:100%;
	padding-right:2px;}
.readOnlyEditTextNoBorder {
	BORDER-BOTTOM: #999999 1px solid;
    BORDER-LEFT: #999999 1px solid;
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
	width:100%;
	background:#efefef;
}
.displayEditTextNoBorder {
BORDER-BOTTOM: #4a3163 0px solid;
    BORDER-LEFT: #4a3163 0px solid;
    BORDER-RIGHT: #4a3163 0px solid;
    BORDER-TOP: #4a3163 0px solid;
  	background:transparent;
	width:100%;
}
TEXTAREA {
	BACKGROUND-COLOR: #ffffff; COLOR: #000
}
.editTextArea {
BORDER-BOTTOM: #999999 1px solid;
    BORDER-LEFT: #999999 1px solid;
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    FONT-SIZE: 9pt;
	margin-bottom:-1px;
}
.readOnlyEditTextArea {
 BORDER-BOTTOM: #999999 1px solid;
    BORDER-LEFT: #999999 1px solid;
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    FONT-SIZE: 9pt;
  	background:#efefef;
	margin-bottom:-1px;
}
.
sTable {
BORDER-BOTTOM: #B3B8B2 1px solid;
BORDER-LEFT: #F8FDF7 1px solid;
BORDER-RIGHT: #B3B8B2 1px solid;
BORDER-TOP: #F8FDF7 1px solid;
background-color: #DCDEC8;
}
.iviewsTitle {
BORDER-LEFT: #4D5970 0px solid;
BORDER-RIGHT: #4D5970 0px solid;
BORDER-TOP: #4D5970 0px solid;
border-bottom:#99BBE8 1px solid;
height:21px;
background-color:#D6E3F3;
/*background-image:url(../images/tabpage/titlebg_center.gif);*/
}
.iviewsWindowTitle {
BORDER-BOTTOM: #4D5970 1px solid;
BORDER-LEFT: #4D5970 0px solid;
BORDER-RIGHT: #4D5970 0px solid;
BORDER-TOP: #4D5970 0px solid;
background-color: #DCDEC8;}
.check {
	HEIGHT: 16px
}
.pushTable {
	BORDER-BOTTOM: #EDEDEC 1px solid; MARGIN-BOTTOM:2px;
}
.tb_Button {
	BORDER-RIGHT: #417db3 1px solid; BORDER-TOP: #417db3 1px solid; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/buttom/buttom_bg.gif); BORDER-LEFT: #417db3 1px solid; CURSOR: hand; BORDER-BOTTOM: #417db3 1px solid; HEIGHT: 20px
}
.hot {
	COLOR: red
}
TR.listTableTitle1 {
	CURSOR: hand; LINE-HEIGHT: 22px; POSITION: relative; ; TOP: expression(this.offsetParent.scrollTop);z-index:5;
}
TD.tableTitleTD {
	COLOR: #000000; BACKGROUND-COLOR: #92C0E9
}
BODY.singleDetailBody{

  margin-left: 0px;
  margin-top: 0px;
  margin-right: 5px;
  margin-bottom: 5px;

}
.listTableBGColor{
    background-color: #ECF5FF;
}
