<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%-5p %c{1} %m%n"/>
        </layout>
    </appender>
    <root>
        <priority value="DEBUG"/>
        <appender-ref ref="STDOUT"/>
    </root>
    <category name="com.handao">
        <priority value="DEBUG"/>
    </category>

    <category name="org">
        <priority value="WARN"/>
    </category>
    <category name="com.mchange.v2.c3p0">
        <priority value="WARN"/>
    </category>
</log4j:configuration>
