<?xml version="1.0" encoding="GBK"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4"> 
  <display-name>Web</display-name>
  <!-- cache filter -->
  <filter>
    <filter-name>cache</filter-name>
    <filter-class>com.handao.platform.framework.filter.CacheFilter</filter-class>
    <init-param>
        <param-name>Expires</param-name>
        <param-value>7x24x60x60x1000</param-value>
    </init-param>
    <init-param>
        <param-name>Cache-Control</param-name>
        <param-value>public</param-value>
    </init-param>
  </filter>
  <!-- cache filter mapping -->
  <!-- 
  <filter-mapping>
      <filter-name>cache</filter-name>
      <url-pattern>*.gif</url-pattern>
  </filter-mapping>
  <filter-mapping>
      <filter-name>cache</filter-name>
      <url-pattern>*.jpg</url-pattern>
  </filter-mapping>
  <filter-mapping>
      <filter-name>cache</filter-name>
      <url-pattern>*.png</url-pattern>
  </filter-mapping>    
  <filter-mapping>
      <filter-name>cache</filter-name>
      <url-pattern>*.css</url-pattern>
  </filter-mapping>  
  <filter-mapping>
      <filter-name>cache</filter-name>
      <url-pattern>/platform/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
      <filter-name>cache</filter-name>
      <url-pattern>/js/*</url-pattern>
  </filter-mapping>
   -->
  <filter-mapping>
      <filter-name>cache</filter-name>
      <url-pattern>/ria/*</url-pattern>
  </filter-mapping>  
  <!-- listener -->
  <listener>
    <listener-class>com.handao.platform.framework.filter.SessionListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>com.handao.platform.framework.HdActionServlet</servlet-class>
	<init-param>
      <param-name>applications</param-name>
      <param-value>/WEB-INF/platform/applications.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>validate</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>validating</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>AjaxServlet</servlet-name>
    <servlet-class>com.handao.platform.framework.ajax.AFAjaxServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <!-- servlet mapping -->
  <servlet-mapping>
    <servlet-name>AjaxServlet</servlet-name>
    <url-pattern>/ajax</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref id="ResourceRef">
    <res-ref-name>jdbc/dsp</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
</web-app>
